.toggle {
  width: 24px;
  padding: 7px;
  border-radius: 5px;
  background-color: lightgray;
  cursor: pointer;

  & > div {
    height: 3px;
    background-color: black;

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}
