<app-sidebar></app-sidebar>

<main>
  <header>
    <app-sidebar-toggle></app-sidebar-toggle>
  </header>

  <div class="lorem">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda consequuntur, debitis dignissimos
      dolorem ea et exercitationem facere ipsa itaque nobis numquam provident sed vero voluptatum. Architecto delectus
      perferendis quia.</p>
    <p>Accusamus beatae dolor doloremque eius eligendi enim est et fuga fugit harum inventore ipsa ipsum itaque
      laudantium molestiae natus, nemo odit placeat quaerat quidem quisquam sunt ullam, veniam veritatis voluptatem?</p>
    <p>Eum excepturi fugiat hic laboriosam pariatur quia quo rem sed suscipit totam? Accusantium, adipisci commodi
      cumque debitis deserunt ducimus eum ex, excepturi nesciunt odio officia omnis quam reprehenderit, suscipit
      vel.</p>
    <p>Ad amet assumenda debitis dolorem ea earum esse excepturi expedita illo in, iusto magni maiores necessitatibus
      nihil nobis numquam odio pariatur sed temporibus veritatis? Ab dolorum facilis quos repellat veritatis.</p>
    <p>Consequatur deserunt dolore doloribus ea incidunt, modi molestias neque nisi numquam provident quam quia quidem
      sequi? Commodi cumque deleniti distinctio est expedita fuga quibusdam temporibus voluptatum? Ex pariatur quam
      saepe?</p>
  </div>
</main>
