<div class="void"
     [class.open]="open"
     (click)="hide()"></div>
<div class="sidebar" [class.open]="open">
  <h1>Navigation</h1>
  <ul>
    <li><a href="#" (click)="hide()">List Item 1</a></li>
    <li><a href="#" (click)="hide()">List Item 2</a></li>
    <li><a href="#" (click)="hide()">List Item 3</a></li>
    <li><a href="#" (click)="hide()">List Item 4</a></li>
    <li><a href="#" (click)="hide()">List Item 5</a></li>
    <li><a href="#" (click)="hide()">List Item 6</a></li>
    <li><a href="#" (click)="hide()">List Item 7</a></li>
    <li><a href="#" (click)="hide()">List Item 8</a></li>
  </ul>
</div>
